<!-- Footer -->
<!-- <hr> -->
<footer class="footer footer-default">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav>
          <ul>
            <li>
              <a href="https://markmuthii.com">
                Home
              </a>
            </li>
            <li>
              <a href="https://mark.muthii.me">
                Blog
              </a>
            </li>
            <li>
              <a href="https://mark.muthii.me/contact">
                Contact me
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6">
        <div class="copyright">
          &copy; <span id="cYear"></span><script>document.getElementById('cYear').innerHTML=new Date().getFullYear();</script>, made with <i class="material-icons" style="color: #ff0000;">favorite</i> by
          <a href="https://markmuthii.com" target="_blank">Mark Muthii</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
